<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 1.开启SpringMvc注解驱动 -->
	<mvc:annotation-driven />

	<!-- 2.配置视图解析器 支持jsp和html -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:order="2">
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:order="1">
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".html" />
	</bean>
	<!--文件上传解析器  -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"></property>
		<!-- 1024*1024*20 = 20M -->
		<property name="maxUploadSize" value="20971520"></property>
		<property name="maxInMemorySize" value="20971520"></property>
	</bean>
	
	<!-- JSP中引用静态资源方式 href="/css/bootstrap.min.css" 不可以是 href="css/bootstrap.min.css"（相对路径，会转成host/controller/css/bootstrap.min.css） 
		找不到文件 -->
	<!-- 3.资源映射 -->
	<mvc:resources location="/WEB-INF/fonts/" mapping="/fonts/**" />
	<mvc:resources location="/WEB-INF/image/" mapping="/image/**" />
	<mvc:resources location="/WEB-INF/css/" mapping="/css/**" />
	<mvc:resources location="/WEB-INF/js/" mapping="/js/**" />
	<!-- 解除servlet对静态资源文件访问的限制 -->
	<mvc:default-servlet-handler />

	<!-- 4.包扫描器 -->
	<context:component-scan base-package="com.sl.controller" />
	<context:component-scan base-package="com.sl.controller.*" />
	<context:component-scan base-package="com.sl.service" />
	<context:component-scan base-package="com.sl.dao" />
</beans>
